.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  transition: all 0.3s;
}

.sidebar-header {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  text-decoration: none;
  transition: all 0.3s;
}

.sidebar ul li a:hover, .sidebar ul li a.active{
  background: #3498db;
  border-radius: 5px;
}


.main-content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
}